
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="Scripts/SeoSearch.js"></script>
</head>
<body>
    <input id="queryInput"/>
    <button  onclick="onSearchClick()">Search</button>
    <div id="resultContainer">
    </div>
</body>
</html>
