
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="Scripts/temp.js"></script>
</head>
<body>
    <input/>
    <button  onclick="onSearchClick()">Search</button>
    <div id="result">
    </div>
</body>
</html>
